form {
  padding: $base-spacing;
  border: $base-border;
  margin: $base-spacing;
  box-sizing: border-box;

  @media screen and (min-width: $large-screen) {
    margin: $base-spacing * 2;
  }

  input[type=text],
  input[type=email],
  input[type=tel] {
    padding: $small-spacing;
    border: 1px solid $red;
    width: 100%;
    box-sizing: border-box;
  }

  legend {
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: $small-spacing;
    color: $red;
  }

  label {
    display: block;
    margin-right: $small-spacing;
    margin-bottom: $small-spacing;
  }

  input[type=submit] {
    margin-top: $small-spacing * 2;
    width: 100%;
  }
}

.input {
  margin: $small-spacing 0;
}

div.input--checkboxes {
  @extend.input;

  label {
    display: inline-block;
  }
}

div.input--radio {
  @extend.input;

  label {
    display: inline-block;
  }
}

fieldset {
  margin-bottom: $base-spacing;
  border: none;

  legend {
    margin-bottom: $small-spacing / 2;
  }
}
