@import 'variables';
@import 'typography';
@import 'buttons';
@import 'forms';

$left-view-width: 40vw;
$right-view-width: 60vw;
$black: #0f0f0f;

body {
  background-color: white;
  color: $base-font-color;
  margin: 0;
  font-family: $base-font-family;
}

main {
  min-height: calc(100vh - #{$navigation-height});
}


section.navigation {
  height: $navigation-height;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: $small-spacing $base-spacing;
  background-color: $black;
  color: white;

  img.sabotage-logo {
    height: calc(#{$navigation-height} - #{$small-spacing});
  }

  a {
    font-size: 80%;
    color: $red;
    margin: 0 ($small-spacing / 4);
    text-decoration: none;
  }

  a.primary-link {
    color: white;
  }

  @media screen and (min-width: $large-screen) {
    padding: $small-spacing ($base-spacing * 2);

    a {
      font-size: 100%;
    }
  }
}

section.hero {
  min-height: 50vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-bottom: $base-spacing;

  section.hero__text {
    padding: 0 ($base-spacing * 2);
  }

  h1 {
    color: $red;
    margin-top: $small-spacing;
  }

  p {
    line-height: $base-line-height * 1.2;
    font-size: $base-font-size * 1.2;
  }

  @media screen and (min-width: $large-screen) {
    align-items: flex-start;
    justify-content: center;
    height: 75vh;
    width: $left-view-width;
    margin-bottom: 0;
  }
}

section.worldview {
  color: white;
  background-color: $red;
  height: 75vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  background-size: cover;
  background-image: image_url('punk-background.png');
  position: relative;

  section.worldview__text {
    color: white;
    z-index: 9999;
    min-height: 75vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: $base-spacing;
    margin-left: $base-spacing;

    @media screen and (min-width: $large-screen) {
      text-align: left;
      align-items: flex-start;
      justify-content: center;
    }
  }

  h1 {
    z-index: 9999;
  }

  p {
    z-index: 9999;
    line-height: $base-line-height * 1.2;
    font-size: $base-font-size * 1.2;
    font-weight: 400;
    letter-spacing: 0.5px;
    max-width: $large-screen;
  }

  div.worldview__cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $red;
    opacity: 0.65;
  }

  @media screen and (min-width: $large-screen) {
    width: $right-view-width;
  }
}

section.how-we-work {
  background-image: image_url('rapper-background.png');
  background-size: cover;
  height: 100vh;
  color: white;
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  h2 {
    font-size: 1.5rem;
    line-height: $base-line-height * 1.2;
    padding: $base-spacing * 2;
    z-index: 9999;
    opacity: 0.9;

    @media screen and (min-width: $large-screen) {
    }
  }

  div.how-we-work__cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $black;
    opacity: 0.50;
  }

  @media screen and (min-width: $large-screen) {
    width: $left-view-width;
  }
}

section.list-of-services {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  margin: ($base-spacing * 2) 0;

  ul.services-list {
    padding-left: $base-spacing * 2;
    flex: 1;
  }

  a.primary-button {
    margin-left: $base-spacing * 2;
    flex: 1;
  }


  @media screen and (min-width: $large-screen) {
    width: $right-view-width;
  }
}

ul.services-list {
  padding-right: $base-spacing;
  article {
    margin-bottom: $base-spacing;

    header {
      color: $red;
    }
  }
}

section.top-container {
  @media screen and (min-width: $large-screen) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
}

section.bottom-container {
  @media screen and (min-width: $large-screen) {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}

footer {
  height: 50vh;
  background-color: $black;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: $small-spacing 0;
  }

  a {
    color: white;
    margin: ($small-spacing / 4) 0;
  }

  img {
    margin-top: $base-spacing * 2;
    height: 72px;
  }
}

section.services {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $large-screen) {
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    height: 90vh;
  }

  ul.services-list {
    margin-top: $small-spacing * 2;
  }
}

section.invite {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  section.invite__hero {
    margin: $base-spacing;
    margin-bottom: 0;
    color: $red;
  }

  @media screen and (min-width: $large-screen) {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 90vh;

    section.invite__hero {
      max-width: 30vw;
      margin: ($base-spacing * 2) $base-spacing;
    }
  }
}
