<ul class="services-list">
  <hr />
  <li>
    <article>
      <header><h3>Instagram Marketing</h3></header>
      <p>Target new fans, grow your followers, increase your engagement.</p>
    </article>
  </li>
  <hr />
  <li>
    <article>
      <header><h3>Youtube Promotion</h3></header>
      <p>Viral marketing, high quality targetting, and authentic viewership.</p>
    </article>
  </li>
  <hr />
  <li>
    <article>
      <header><h3>Spotify Marketing</h3></header>
      <p>Increase streaming royalties, playlist submissions, and advanced metrics.</p>
    </article>
  </li>
  <hr />
  <li>
    <article>
      <header><h3>Artist Branding and Publication</h3></header>
      <p>Album covers, press kit design, ecommerce and more.</p>
    </article>
  </li>
  <hr />
</ul>
