<section class="navigation">
  <%= image_tag 'sabotage-records-logo.png', class: 'sabotage-logo' %>

  <nav>
    <%= link_to 'Home', 'index' %>
    |
    <%= link_to 'Request our Services', 'services' %>
    |
    <%= link_to 'Request an Invite', 'invite', class: 'primary-link' %>
  </nav>
</section>
