---
title: Sabotage Records
---

<section class="top-container">
  <section class="hero">
    <section class="hero__text">
      <h1>
        The Modern Record Label
      </h1>

      <p>We syndicate records to help artists blow up and remain independent.</p>
      <%= link_to 'Request an Invite', 'invite', class: 'primary-button' %>
    </section>
  </section>

  <section class="worldview">
    <div class="worldview__cover"></div>
    <section class="worldview__text">
      <h1>
      Artists submit tracks and get funded.
      </h1>
      <p>
      We wanted to bring the same ecosystem that entrepreneurs have
      to artists by helping them syndicate funding for singles which we focus on
      blowing up in digital channels.
      </p>
    </section>
  </section>
</section>

<section class="bottom-container">
  <section class="how-we-work">
    <div class="how-we-work__cover"></div>
    <h2>
    We focus on digital distribution and promotion. We work hard to measure and
    test every dollar we spend to give you the most effective fuel for takeoff.
    </h2>
  </section>

  <section class="list-of-services">
    <%= partial 'shared/list_of_services' %>
    <%= link_to 'Request our Services', 'services', class: 'primary-button' %>
  </section>
</section>


