---
title: Welcome to Middleman
---

<section class="navigation">
  <%= image_tag 'sabotage-records-logo.png', class: 'sabotage-logo' %>

  <%= link_to 'Home', '#' %>
</section>

<section class="top-container">
  <section class="hero">
    <h1>
      The Modern Record Label
    </h1>

    <p>We syndicate records to help artists blow up and remain independent.</p>

    <button>Request an Invite</button>
  </section>

  <section class="worldview">
    <div class="worldview__cover"></div>
    <section class="worldview__text">
      <h1>
      Artists submit tracks and get funded.
      </h1>
      <p>
      We wanted to bring the same ecosystem that entrepreneurs have
      to artists by helping them syndicate funding for singles which we focus on
      blowing up in digital channels.
      </p>
    </section>
  </section>
</section>
