---
title: Welcome to Middleman
---

<section class="navigation">
  <%= image_tag 'sabotage-records-logo.png', class: 'sabotage-logo' %>

  <%= link_to 'Home', '#' %>
</section>

<section class="hero">
  <h1>
    The Modern Record Label
  </h1>

  <p>We syndicate records to help artists blow up and remain independent.</p>
</section>

<section class="worldview">
  <p>
  The game has changed, music artists are more like entrepreneurs than
  entertainers. We wanted to bring the same ecosystem that entrepreneurs have
  to artists by helping them syndicate funding for singles which we focus on
  blowing up in digital channels.
  </p>
</section>
