<section class="invite">
  <%= partial 'invite_form' %>
  <section class="invite__hero">
    <h1>
      Join an exclusive community of independent artists.
      Get access to the resources you need to blow up.
    </h1>
  </section>
</section>
